#hero_img_sevilla {
    width: 100%;
    height: 20em;
    background-image: url(/assets/sevilla.jpg);
    background-size: cover;
    background-position: center;
}

#hero_img_madrid {
    width: 100%;
    height: 20em;
    background-image: url(/assets/madrid.jpg);
    background-size: cover;
    background-position: center;
}

#hero_img_valencia {
    width: 100%;
    height: 20em;
    background-image: url(/assets/valencia.jpg);
    background-size: cover;
    background-position: center;
}

#hero_img_lisbon {
    width: 100%;
    height: 20em;
    background-image: url(/assets/lisboa.jpg);
    background-size: cover;
    background-position: center;
}