@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --primaryColor: #4361ee;
    --backgroundColor: #fafcff;
    --secondaryTextColor: #afb2bc;
    --fav_color: #ff0054;
    --whiteColor: rgba(255, 255, 255, 1);
    --darkMode: #202020;
    --fontSize: 14px;
    --boxShadow: 0.3em 0.3em 0.7em #00000015;
    --shadowHead: 3px 3px 10px -3px #00000015;
    --btnBoxShadow: 1px -1px 15px #14141444;
}

body {
    font-family: Montserrat;
    font-size: var(--fontSize);
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ------------------- HEADER ------------------- */

header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--backgroundColor);
    z-index: 99;
    box-shadow: var(--shadowHead);
}

/* icono hamburguesa */

#hamburger {
    position: relative;
    width: clamp(2rem, 5vw, 3rem);
    height: clamp(2rem, 5vw, 3rem);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

#hamburger .bar,
#hamburger::after,
#hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin: 6px 0px;
    background-color: var(--darkMode);
    transition: .4s;
    border-radius: 6px;
}

#hamburger::before {
    margin-top: 0;
}

#hamburger::after {
    margin-bottom: 0;
}

#hamburger .bar {
    margin: 0;
}

/* animación del icono hamburguesa */

#hamburger.active::before {
    transform: rotateZ(-45deg) translate(-5px, 5px);
}

#hamburger.active .bar {
    opacity: 0;
}

#hamburger.active::after {
    transform: rotateZ(45deg) translate(-9px, -9px);
}

#logo {
    text-decoration: none;
    color: var(--darkMode);
    font-size: 2rem;
    font-weight: 700;
}

#logo span {
    color: var(--primaryColor);
}

#userPic {
    width: 30px;
    height: 30px;
}

/* mobile menu */

.blur {
    display: none;
    position: absolute;
    width: 100%;
    height: 200vh;
    z-index: 97;
}

.blur.blurActive {
    display: block;
}

body.blurActive {
    overflow: hidden;
}

#mobileNav {
    position: absolute;
    top: 68px;
    left: -100%;
    height: 100vh;
    background-color: var(--backgroundColor);
    transition: .4s;
    z-index: 98;
}

#mobileNav.active {
    left: 0;
}

#mobileNavContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 12rem;
    gap: 20px;
    transition: all .35s ease;
    box-shadow: var(--shadowHead)
}

#mobileNav a {
    color: var(--darkMode);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    transition: all .35s ease;
    padding-left: 2rem;
}

#mobileNav a>i {
    font-size: 20px;
    transition: all .35s ease;
}

#mobileNav a:last-child {
    position: absolute;
    bottom: 6rem;
    width: 100%;
}

#mobileNav a:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor)
}

#mobileNav a:hover i {
    color: var(--whiteColor);
}

/* desktop nav */

#desktopNav {
    display: none;
}

/* ------------------- MAIN CONTENT ------------------- */

#content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 48px 20px 0 20px;
}

#title {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#title div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title div a {
    padding: 10px 10px;
}

#title div a i:before {
    transition: all .3s ease;
}

#title div a:hover i:before {
    transform: translateX(-3px);
    transition: all .3s ease;
}

#places {
    display: grid;
    justify-content: center;
    grid-auto-rows: minmax(20em, auto);
    grid-template-columns: repeat(2, 12em);
    gap: 10px 10px;
    margin: 0 20px 0 20px;
}

/* ALERT FAVORITES */

#alert {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}

#alert>div {
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--primaryColor);
}

#alert>div>div {
    padding-top: 10px;
    display: flex;
    gap: 20px;
}

#alert>div>div>button {
    padding: 3px 10px;
    color: var(--darkMode);
    border: var(--primaryColor) 2px solid;
    border-radius: 5px;
    background-color: var(--whiteColor);
}

#alert>div>div>button:hover {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
}

/* CARDS STYLE */

.card {
    width: 12em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--whiteColor);
    position: relative;
    transition: all .5s ease;
    box-shadow: var(--boxShadow);
    transition: outline 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    outline: rgba(250, 250, 250, 0) 2px solid;
}

.card:hover {
    outline: var(--primaryColor) 2px solid;
}

.fav_btn,
.closeCard_btn {
    border: none;
    background-color: var(--backgroundColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--btnBoxShadow);
}

.closeCard_btn {
    right: none;
    left: 10px;
}

.card a {
    text-decoration: none;
    color: var(--secondaryTextColor);
}

.uil {
    color: var(--primaryColor);
}

.likeHeart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.uil-map-marker {
    font-size: 19px;
}

.fav_active {
    color: var(--backgroundColor);
}

.btn_active {
    background-color: var(--fav_color);
}

.card>div {
    padding: 6px;
}

.card img {
    height: 10em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-position: center;
    object-fit: cover;
}

.hidden_info {
    display: none;
}

/* ------------------- INFO CARD DISPLAY ------------------- */

#infoCardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}

#infoCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--whiteColor);
    overflow: auto;
}

#infoCard button {
    z-index: 2000;
}

#infoCard .uil-arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#infoCardImg {
    position: relative;
    z-index: 1999;
    height: 50%;
}

#infoCardImg::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, var(--whiteColor), rgba(255, 255, 255, 0));
    height: 25%;
    z-index: 2000;
}

#infoCard img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

#infoCardTitle p {
    color: var(--secondaryTextColor);
}

#infoCardTitle i {
    padding-right: 5px;
}

#infoCardData {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

#infoCardData h2 {
    font-size: 30px;
}

#infoCardData h4 {
    padding-bottom: 5px;
}

#infoCardMap iframe {
    border-radius: 10px;
}

/* ------------------- FOOTER ------------------- */

footer {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 12px;
}

footer span {
    color: var(--primaryColor);
    font-weight: 600;
}
