body {
    background-color: var(--backgroundColor);
}

/* ------------------- MAIN CONTENT------------------- */



/* ALERT FAVORITES */

#alert {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}

#alert > div {
    background-color: var(--secondaryTextColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#alert > div > div {
    padding-top: 10px;
    display: flex;
    gap: 20px;
}

#alert > div > div > button{

}

/* MAIN TITLE */

#title {

}

/* FILTRO CATEGORÍAS */

#categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* FILTRO CIUDADES */

#cities {
    display: flex;
    gap: 20px;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

#cities::-webkit-scrollbar {
    display: none;
}

#cities > div:nth-child(1) {
    background-image: url(/assets/sevilla.jpg);
    background-size: cover;
}
#cities > div:nth-child(2) {
    background-image: url(/assets/madrid.jpg);
    background-size: cover;
}
#cities > div:nth-child(3) {
    background-image: url(/assets/valencia.jpg);
    background-position: center;
    background-size: cover;
}
#cities > div:nth-child(4) {
    background-image: url(/assets/lisboa.jpg);
    background-size: cover;
}

.city {
    min-width: 50%;
    height: 10em;
    scroll-snap-align: start;
    border-radius: 10px;
}

#random {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#cardContainer {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(auto, 10em);
    grid-template-columns: repeat(2, 13em);
    gap: 10px 10px;
}

/* ------------------- ASIDE CONTENT------------------- */

aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 10px 0 10px;
}