/* ------------------- MAIN CONTENT------------------- */



/* MAIN TITLE */

#titleHomeContainer {
    margin-top: 50px;
}

#titleHome {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #eaedf7;
    border-radius: 10px;
}

#titleHome h2 {
    font-size: 2rem;
    font-weight: 500;
    flex-basis: 50%;
    padding-left: 30px;
}

#titleHome h2 span {
    color: var(--primaryColor);
}

#image {
    background-image: url(/assets/banner.svg);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    height: 10em;
    flex-basis: 50%;
    border-radius: 10px;
}

/* FILTRO CATEGORÃAS */

#categories {
    display: grid;
    grid-template-columns: repeat(2, minmax(110px, 1fr));
    gap: 10px;
}

.categoriesBtn {
    display: flex;
    flex-direction: column;
}

#categories a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: var(--darkMode);
    background-color: var(--whiteColor);
    border: var(--primaryColor) 2px solid;
    border-radius: 5px;
    transition: all .35s ease;
    text-align: center;
    padding: 3px 5px;
    min-width: 110px;
}

#categories a>i {
    display: flex;
    align-items: center;
    justify-content: center;
}

#categories a:hover {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
}

/* FILTRO CIUDADES */

#cities {
    display: flex;
    gap: 20px;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

#cities::-webkit-scrollbar {
    display: none;
}

.city {
    background-position: bottom;
}

.city:nth-child(1) {
    background-image: url(/assets/sevilla.jpg);
    background-size: cover;
}

.city:nth-child(2) {
    background-image: url(/assets/madrid.jpg);
    background-size: cover;
}

.city:nth-child(3) {
    background-image: url(/assets/valencia.jpg);
    background-position: center;
    background-size: cover;
}

.city:nth-child(4) {
    background-image: url(/assets/lisboa.jpg);
    background-size: cover;
}

.city {
    min-width: 50%;
    height: 10em;
    scroll-snap-align: start;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--whiteColor);
}

.city p {
    font-size: 18px;
    width: 50vw;
    background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    font-weight: 300;
    padding-top: 20px;
}

#random {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#cardContainer {
    display: grid;
    justify-content: center;
    grid-auto-rows: minmax(17em, auto);
    grid-template-columns: repeat(auto-fit, 11em);
    gap: 10px 10px;
}

/* ------------------- ASIDE CONTENT------------------- */

#favorites {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px 20px 0 20px;
}

#seeMoreFavBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

#seeMoreFavBtn a {
    text-decoration: none;
    padding: 3px 10px;
    color: var(--darkMode);
    background-color: var(--whiteColor);
    border: var(--primaryColor) 2px solid;
    border-radius: 5px;
}

#seeMoreFavBtn a:hover {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
}

/* ------------------- RESPONSIVE ------------------- */

@media screen and (max-width: 600px) {
    #titleHome h2 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 520px) {
    #categories {
        grid-template-columns: repeat(4, minmax(110px, 1fr));
    }

}

@media screen and (min-width: 768px) {
    .city {
        min-width: 35%;
    }

    #cities a {
        background-position: bottom right;
    }

    #cities a:nth-child(3) {
        background-position: center;
    }
}

@media screen and (min-width: 1100px) {
    #favorites {
        margin: 68px 0 0 0;
        justify-content: start;
        align-items: center;
    }

    #seeMoreFavBtn {
        padding-top: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .city {
        min-width: 20%;
    }

    #cities a {
        background-position: center right;
    }

    #cities a:nth-child(3) {
        background-position: center;
    }
}
