body {
    background-color: var(--backgroundColor);
}

/* ------------------- MAIN CONTENT------------------- */



/* MAIN TITLE */

#title {}

/* FILTRO CATEGORÍAS */

#categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#categories a {
    text-decoration: none;
    padding: 3px 10px;
    color: black;
    background-color: white;
    border: var(--primaryColor) 2px solid;
    border-radius: 5px;
}

#categories button {
    padding: 0;
    border: none;
}

/* FILTRO CIUDADES */

#cities {
    display: flex;
    gap: 20px;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

#cities::-webkit-scrollbar {
    display: none;
}

.city:nth-child(1) {
    background-image: url(/assets/sevilla.jpg);
    background-size: cover;
}

.city:nth-child(2) {
    background-image: url(/assets/madrid.jpg);
    background-size: cover;
}

.city:nth-child(3) {
    background-image: url(/assets/valencia.jpg);
    background-position: center;
    background-size: cover;
}

.city:nth-child(4) {
    background-image: url(/assets/lisboa.jpg);
    background-size: cover;
}

.city {
    min-width: 50%;
    height: 10em;
    scroll-snap-align: start;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.city p {
    font-size: 18px;
    width: 50vw;
    background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    font-weight: 400;
    padding-top: 20px;
}

#random {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#cardContainer {
    display: grid;
    justify-content: center;
    grid-auto-rows: minmax(20em, auto);
    grid-template-columns: repeat(2, 13em);
    gap: 10px 10px;
}

/* ------------------- ASIDE CONTENT------------------- */

aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 10px 0 10px;
}

#seeMoreFavBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#seeMoreFavBtn a {
    text-decoration: none;
    padding: 3px 10px;
}
