@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --primaryColor: #4361ee;
    --backgroundColor: #fafcff;
    --secondaryTextColor: #afb2bc;
    --fav_color: #ff0054;
    --whiteColor: rgba(255, 255, 255, 1);
    --darkMode: #202020;
    --fontSize: 14px;
    --boxShadow: 0.3em 0.3em 0.7em #00000015;
    --btnBoxShadow: 1px -1px 15px #14141444;
}

body {
    font-family: Poppins;
    font-size: var(--fontSize);
}

/* ------------------- MAIN ------------------- */

main {
    display: flex;
    flex-direction: column-reverse;
}

.presentation {
    width: 100%;
    height: 100vh;
    background: var(--backgroundColor);
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 17, 23, .35), rgba(12, 17, 23, .35)), url(/assets/hero.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.tarjeta {
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    height: 50vh;
    width: clamp(17em, 50vw, 35vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.0);
    gap: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.tarjeta h1 {
    font-size: clamp(2.3rem, 5vw, 5rem);
}

.tarjeta span {
    color: var(--primaryColor);
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.tarjeta input {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: none;
    outline: none;
    color: var(--whiteColor);
}

.tarjeta input::placeholder {
    color: var(--whiteColor);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--whiteColor);
    -webkit-background-clip: text;
}

#loginForm button {
    padding: 3px 10px;
    color: var(--darkMode);
    background-color: var(--whiteColor);
    border: var(--primaryColor) 2px solid;
    border-radius: 5px;
    width: 40%;
    align-self: center;
}

#guestContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--whiteColor);
}

#guestBtn {
    text-decoration: none;
    padding: 3px 10px;
    color: var(--darkMode);
    background-color: var(--whiteColor);
    border: var(--primaryColor) 2px solid;
    border-radius: 5px;
}

#loginForm button:hover,
#guestBtn:hover {
    color: var(--whiteColor);
    background-color: var(--primaryColor);
}

/* ------------------- FOOTER ------------------- */

footer {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 12px;
}

footer span {
    color: var(--primaryColor);
    font-weight: 600;
}
